/* style.css */
@font-face {
	font-family: "Pudelinka";
	src: url("Font/pudelinka.ttf" ) format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
  background-color: #e6f7ff; /* нежно-голубой фон */
  font-family: Arial, sans-serif;
  padding: 30px;
  color: #2c3e50;
  margin: 0;
  line-height: 1.6;
}

h1, h2 {
  color: #1a5fb4;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

code {
  background-color: #d0ebff;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 1em;
}

strong {
  color: #0d4a8f;
} 
p.zz {
  font-family: "Pudelinka";
} 
  
   
    h1, h2 {
      color: #2c3e50;
    }
    .key {
      background: #f4f4f4;
      padding: 10px;
      border-left: 4px solid #3498db;
      margin: 15px 0;
    }
    .note {
      background: #fff8e1;
      padding: 12px;
      border-left: 4px solid #ffc107;
      margin: 20px 0;
    }
    button {
      background: #2ecc71;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
    }
    button:hover {
      background: #27ae60;
    }
    #result {
      margin-top: 10px;
      font-weight: bold;
      color: #27ae60;
    }
    .date {
      font-weight: bold;
      font-size: 1.1em;
      margin-bottom: 20px;
      color: #e74c3c;
    }
  
